html {
    font-size: 12px;
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 63px;
}

nav.navbar > div.container > div.navbar-header > a.pull-left > img {
    width: 50px;
    padding: 5px;
}

button.btn.btn-transparent {
    background: transparent;
    border: 1px solid white;
    color: white;
    transition: color 1s, border 1s;
}

button.btn-transparent.dark {
    border: 1px solid black;
    color: black;
}

button.btn-transparent:hover {
    color: red;
    border: 1px solid red;
}

.container.about,
.container.contact,
.container.honorees {
    margin-top: 20px;
}

#titan_image {
    height: 100%;
    position: relative;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
}

#titan_image:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../images/titan-background.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

#titan_image > div.info {
    position: relative;
    top: 25%;
    transform: translate(0, -25%);
    text-align: center;
    color: white;
    z-index: 2;
}

.big_text {
    font-size: 5rem;
}

.container > h4 {
    text-align: center;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/** Honorees CSS **/
.profile {
    background-size: cover;
    width: 200px;
    height: 280px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.profile#larry {
    background-image: url(../images/Larry.png);
}

.profile#dieter {
    background-image: url(../images/Dieter.png);
}

.profile#pat {
    background-image: url(../images/Pat.png);
}

.container.honorees > .row > .col-md-4 {
    text-align: center;
}

.container.honorees > .row > .col-md-4 > .honoree_information {
    padding-top: 10px;
    text-align: left;
    height: 180px;
    overflow: hidden;
}

.container.honorees > .row > .col-md-4 > .honoree_information:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 50px;
    right: 0;
    background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0));
}

.container.honorees > .row > .col-md-4 > .honoree_information.no_after:after {
    content: "";
    background: none;
}

.container.honorees > .row > .col-md-4 > button.more_details {
    margin-top: 15px;
    margin-bottom: 10px;
}
/** End Honorees CSS **/

/** Begin Contact CSS **/
.container.contact {
    padding-bottom: 60px;
}

.container.contact > .row > div {
    margin-top: 15px;
}
/** End Contact CSS **/
